<h3 class="authors-details__heading">Author details</h3>
<ol class="authors-details__authors">
  {{#authorDetails}}
    <li class="authors-details__author">{{> resources/templates/author-details}}</li>
  {{/authorDetails}}
</ol>
