<div
    data-behaviour="Metrics"
    data-id="{{id}}"
    data-type="{{type}}"
    data-container-id="{{containerId}}"
  {{#metric}}
    data-metric="{{metric}}"
  {{/metric}}
  {{#period}}
    data-period="{{period}}"
  {{/period}}
    data-api-endpoint="{{apiEndpoint}}"
    data-chevron-left-svg="{{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-left-ic.svg{{/assetRewrite}}"
    data-chevron-left-srcset="{{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-left-ic_2x.png{{/assetRewrite}} 48w, {{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-left-ic_1x.png{{/assetRewrite}} 24w"
    data-chevron-left-src="{{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-left-ic_1x.png{{/assetRewrite}}"
    data-chevron-right-svg="{{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-right-ic.svg{{/assetRewrite}}"
    data-chevron-right-srcset="{{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-right-ic_2x.png{{/assetRewrite}} 48w, {{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-right-ic_1x.png{{/assetRewrite}} 24w"
    data-chevron-right-src="{{#assetRewrite}}{{assetsPath}}/img/patterns/molecules/chevron-right-ic_1x.png{{/assetRewrite}}"
    aria-hidden="true"
>
</div>
