<ol class="button-collection{{#centered}} button-collection--centered{{/centered}}{{#compact}} button-collection--compact{{/compact}}{{#inline}} button-collection--inline{{/inline}}{{#classes}} {{classes}}{{/classes}}">
  {{#buttons}}
    <li class="button-collection__item">{{>resources/templates/button}}</li>
  {{/buttons}}
</ol>
