{{#heading}}
  <h6 class="caption-text__heading">{{{heading}}}</h6>
{{/heading}}

{{#standfirst}}
  <p class="caption-text__heading">{{{standfirst}}}</p>
{{/standfirst}}

{{#text}}<div class="caption-text__body">{{{text}}}</div>{{/text}}
