<div class="form-item form-item__checkbox">
  <div for="{{ name }}" class="checkbox__label selected-model" aria-label="{{ uncheckedValue }}">{{ uncheckedValue }}</div>

  <label class="form-item__label toggle-checkbox">
    <input type="checkbox" id="{{ name }}" class="type-of-model">
    <span class="toggle-checkbox__slider round"></span>
  </label>

  <div for="{{ name }}" class="checkbox__label" aria-label="{{ checkedValue }}">{{ checkedValue }}</div>
</div>
