<div class="error-wrapper">

  <div class="error">

    <picture>
        <source srcset="{{#assetRewrite}}{{assetsPath}}/img/errors/4xx.svg{{/assetRewrite}}" type="image/svg+xml">
        <img srcset="{{#assetRewrite}}{{assetsPath}}/img/errors/4xx-2x.png{{/assetRewrite}} 86w" src="{{#assetRewrite}}{{assetsPath}}/img/errors/4xx.png{{/assetRewrite}}" sizes="43px"
             alt="" class="error__icon">
    </picture>

    <h1 class="error__title">Say what?</h1>

    <p>Your browser sent us something unexpected.<br>We&#x2019;ve logged the problem and will look into it.</p>

    {{#button}}
        {{> resources/templates/button }}
    {{/button}}

  </div>

</div>
