<header class="content-header-simple">

    <h1 class="content-header-simple__title">{{{title}}}</h1>

    {{#strapline}}
        <div class="content-header-simple__strapline">{{{strapline}}}</div>
    {{/strapline}}

</header>
