<div class="highlight" role="region">
  {{#heading}}
    {{>resources/templates/list-heading}}
  {{/heading}}

  <ul class="highlight__items">

    {{#items}}
      {{> resources/templates/highlight-item}}
    {{/items}}

  </ul>

</div>
