<div class="jump-menu__wrapper" data-behaviour="JumpMenu">
  <ul class="jump-menu__list">
    {{#items}}
      <li class="jump-menu__item">
        <a href="{{url}}" class="jump-menu">{{{name}}}</a>
      </li>
    {{/items}}
  </ul>
</div>
