<div data-behaviour="Meta" class="meta">
  {{#articleStatus}}
    <div class="meta__status">
      {{#articleStatusColorClass}}<span class="meta__status-circle meta__status-circle-{{articleStatusColorClass}}"></span>{{/articleStatusColorClass}}{{articleStatus}}
    </div>
  {{/articleStatus}}

  {{#version}}
    <div class="meta__version">{{{version}}}</div>
  {{/version}}

  {{#url}}
    <a class="meta__type" href="{{url}}" {{#carouselItem}}tabindex="-1"{{/carouselItem}}>{{{text}}}</a>
  {{/url}}

  {{^url}}
    {{#text}}
    <span class="meta__type">{{{text}}}</span>
    {{/text}}
  {{/url}}

  {{#date}}
    {{>resources/templates/date}}
  {{/date}}
</div>
