<span class="orcid">
  <a href="https://orcid.org/{{id}}">
    <picture>
      <source srcset="{{#assetRewrite}}{{assetsPath}}/img/icons/orcid.svg{{/assetRewrite}}" type="image/svg+xml">
      <img src="{{#assetRewrite}}{{assetsPath}}/img/icons/orcid.png{{/assetRewrite}}" class="orcid__icon"
           alt="ORCID icon">
    </picture> <span class="visuallyhidden">"This ORCID iD identifies the author of this article:"</span>
	 {{id}}</a>
</span>
