<div class="previous-version-warning-container">
  <div class="previous-version-warning">
    <span class="previous-version-warning__text">{{text}}</span>
    {{#link}}
      <span class="previous-version-warning__text">
        <a class="previous-version-warning__link" href="{{url}}"{{#ariaLabel}} aria-label="{{ariaLabel}}"{{/ariaLabel}}>{{name}}</a>.
      </span>
    {{/link}}
  </div>
</div>
