<div class="process-block">
  {{#variant}}<div class="process-block__bar process-block__bar-{{variant}}"></div>{{/variant}}
  <div class="process-block__content">
    {{{body}}}
    {{#link}}<a href="{{url}}" class="process-block__link">{{name}}</a>{{/link}}
  </div>
</div>
