{{! This is used without js on the main search page, but js is required for
      its presence on other pages. !}}

<div class="search-box" {{#inContentHeader}}data-behaviour="SearchBox"{{/inContentHeader}}>
  <div class="search-box__inner">
    {{#compactForm}}
      {{>resources/templates/compact-form}}
    {{/compactForm}}

    {{! Only applies when on an article belonging to a subject: }}
    {{#subjectFilter}}
      <label class="search-box__search_option_label">
        <input type="checkbox" name="{{subjectFilter.name}}" value="{{subjectFilter.value}}" form="{{compactForm.formId}}">Limit my search to {{{subjectFilter.text}}}
      </label>
    {{/subjectFilter}}

  </div>
</div>
