{{! NOTE: This is the link to the all subjects list, not a link within the all subjects list.}}
<a href="#{{targetFragmentId}}" class="section-listing-link" data-behaviour="SectionListingLink">{{{text}}}</a>

