<form method="GET" action="{{route}}" data-behaviour="SelectNav">
  {{#select}}
    {{>resources/templates/select}}
  {{/select}}
  {{#button.text}}
    {{#button}}
      {{>resources/templates/button}}
    {{/button}}
  {{/button.text}}
</form>
