<ul class="statistic-collection clearfix" data-behaviour="StatisticCollection">
  {{#stats}}
    <li class="statistic-collection__item">
      {{>resources/templates/statistic}}
    </li>
  {{/stats}}
</ul>
