/.php_cs.cache
/.web-server-pid
/app/config/parameters.yml
/config/parameters.yaml
/config/parameters.yml
/build/*
!/build/.gitkeep
!/build/critical-css/.gitkeep
/composer-switch-patterns-php.*
/node_modules/
/phpunit.xml
/var/*
!/var/.gitkeep
/vendor/
/web/assets/
/web/bundles/
/web/favicon.ico
docker-compose.override.yml
.env
.idea/
.DS_Store
###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###
