/.php_cs.cache
/.web-server-pid
/app/config/parameters.yml
/build/*
!/build/.gitkeep
!/build/critical-css/.gitkeep
/node_modules/
/phpunit.xml
/var/*
!/var/.gitkeep
/vendor/
/web/assets/
/web/bundles/
/web/favicon.ico
