default:
    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2:
                        browser: chrome
                        wd_host: http://selenium:4444/wd/hub
            base_url: http://web/
        Behat\Symfony2Extension:
            kernel:
                bootstrap: ~
                class: eLife\Journal\AppKernel
                env: ci
        jarnaiz\JUnitFormatter\JUnitFormatterExtension:
            filename: behat.xml
            outputDir: %paths.base%/build
        Liuggio\Fastest\Behat\ListFeaturesExtension\Extension: ~
    suites:
        annual-report:
            filters:
                tags: '@annual-report'
            contexts:
              - AnnualReportContext
        archive:
            filters:
                tags: '@archive'
            contexts:
              - ArchiveContext
        article:
            filters:
                tags: '@article'
            contexts:
              - ArticleContext
        article-type:
            filters:
                tags: '@article-type'
            contexts:
              - ArticleTypeContext
        blog:
            filters:
                tags: '@blog'
            contexts:
              - BlogContext
        collection:
            filters:
                tags: '@collection'
            contexts:
              - CollectionContext
        community:
            filters:
                tags: '@community'
            contexts:
              - CommunityContext
        contact:
            filters:
                tags: '@contact'
            contexts:
              - ContactContext
        content-alerts:
            filters:
                tags: '@etoc'
            contexts:
              - ContentAlertsContext
        digest:
            filters:
                tags: '@digest'
            contexts:
              - DigestContext
        event:
            filters:
                tags: '@event'
            contexts:
              - EventContext
        homepage:
            filters:
                tags: '@homepage'
            contexts:
              - HomepageContext
        interview:
            filters:
                tags: '@interview'
            contexts:
              - InterviewContext
        jobs:
            filters:
                tags: '@jobs'
            contexts:
              - JobsContext
        labs:
            filters:
                tags: '@labs'
            contexts:
              - LabsContext
        magazine:
            filters:
                tags: '@magazine'
            contexts:
              - MagazineContext
        people:
            filters:
                tags: '@people'
            contexts:
              - PeopleContext
        podcast:
            filters:
                tags: '@podcast'
            contexts:
              - PodcastContext
        press-packs:
            filters:
                tags: '@press-packs'
            contexts:
              - PressPackageContext
        profile:
            filters:
                tags: '@profile'
            contexts:
              - ProfileContext
        search:
            filters:
                tags: '@search'
            contexts:
              - SearchContext
        subject:
            filters:
                tags: '@subject'
            contexts:
              - SubjectContext
