default:
    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
                javascript:
                    selenium2: ~
            base_url: http://localhost/
        Behat\Symfony2Extension:
            kernel:
                class: eLife\Journal\AppKernel
        jarnaiz\JUnitFormatter\JUnitFormatterExtension:
            filename: behat.xml
            outputDir: %paths.base%/build
    suites:
        annual-report:
            filters:
                tags: '@annual-report'
            contexts:
              - AnnualReportContext
        archive:
            filters:
                tags: '@archive'
            contexts:
              - ArchiveContext
        article:
            filters:
                tags: '@article'
            contexts:
              - ArticleContext
        article-type:
            filters:
                tags: '@article-type'
            contexts:
              - ArticleTypeContext
        blog:
            filters:
                tags: '@blog'
            contexts:
              - BlogContext
        collection:
            filters:
                tags: '@collection'
            contexts:
              - CollectionContext
        community:
            filters:
                tags: '@community'
            contexts:
              - CommunityContext
        contact:
            filters:
                tags: '@contact'
            contexts:
              - ContactContext
        event:
            filters:
                tags: '@event'
            contexts:
              - EventContext
        homepage:
            filters:
                tags: '@homepage'
            contexts:
              - HomepageContext
        interview:
            filters:
                tags: '@interview'
            contexts:
              - InterviewContext
        labs:
            filters:
                tags: '@labs'
            contexts:
              - LabsContext
        magazine:
            filters:
                tags: '@magazine'
            contexts:
              - MagazineContext
        people:
            filters:
                tags: '@people'
            contexts:
              - PeopleContext
        podcast:
            filters:
                tags: '@podcast'
            contexts:
              - PodcastContext
        press-packs:
            filters:
                tags: '@press-packs'
            contexts:
              - PressPackageContext
        search:
            filters:
                tags: '@search'
            contexts:
              - SearchContext
        subject:
            filters:
                tags: '@subject'
            contexts:
              - SubjectContext
