default:
    extensions:
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
        Behat\Symfony2Extension:
            kernel:
                class: eLife\Journal\AppKernel
        jarnaiz\JUnitFormatter\JUnitFormatterExtension:
            filename: behat.xml
            outputDir: %paths.base%/build
    suites:
        labs:
            filters:
                tags: '@labs'
            contexts:
              - LabsContext
        magazine:
            filters:
                tags: '@magazine'
            contexts:
              - MagazineContext
        subject:
            filters:
                tags: '@subject'
            contexts:
              - SubjectContext
