version: '3'

services:
    composer:
        volumes:
            - ./composer.json:/app/composer.json
            - ./composer.lock:/app/composer.lock
            - vendor:/app/vendor
    npm:
        volumes:
            - ./npm-shrinkwrap.json:/npm-shrinkwrap.json
            - ./package.json:/package.json
            - node_modules:/node_modules
    assets_builder:
        volumes:
            - ./assets/images:/assets/images
            - assets:/web
            - node_modules:/node_modules
    fpm:
        volumes:
            - ./:/srv/journal
            - ./.docker/php.ini:/usr/local/etc/php/conf.d/x-dev.ini
            - /srv/journal/build
            - /srv/journal/var
            - critical_css:/srv/journal/build/critical-css
            - vendor:/srv/journal/vendor
    web:
        volumes:
            - assets:/srv/journal/web
    critical_css:
        volumes:
            - critical_css:/build/critical-css
            - node_modules:/node_modules

volumes:
    assets:
    critical_css:
    node_modules:
    vendor:
