version: '3'

services:
    composer:
        build:
            args:
                composer_dev_arg: --no-dev
    composer-dev:
        build:
            context: .
            dockerfile: Dockerfile.composer
            args:
                composer_dev_arg:
        image: elifesciences/journal_composer_dev:${IMAGE_TAG}
        command: /bin/bash
    selenium:
        image: selenium/standalone-chrome:2.53.1
        volumes:
            - /dev/shm:/dev/shm
    cli:
        environment:
            - APP_ENV=ci
        command: sleep infinity
    ci:
        build:
            context: .
            dockerfile: Dockerfile.ci
            args:
                image_tag: ${IMAGE_TAG}
        image: elifesciences/journal_ci:${IMAGE_TAG}
        volumes:
            - ./.docker/parameters.yml:/srv/journal/app/config/parameters.yml
            - fixtures:/srv/journal/var/fixtures
        environment:
            - APP_ENV=ci
        depends_on:
            - cli
            - selenium
    fpm:
        volumes:
            - fixtures:/srv/journal/var/fixtures
        environment:
            - APP_ENV=ci
        depends_on:
            - ci
    web:
        volumes:
            - ./assets/tests:/srv/journal/web/tests

volumes:
    fixtures:
