<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.4/phpunit.xsd"
         backupGlobals="false" colors="true" bootstrap="app/autoload.php">

    <php>
        <ini name="error_reporting" value="-1"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="weak_vendors"/>
        <!-- Make sure that we handle all dates as UTC even if the system's timezone is not UTC -->
        <ini name="date.timezone" value="America/Los_Angeles"/>
        <server name="SYMFONY__FEATURE_CAN_ALWAYS_USE_HYPOTHESIS__OVERRIDE" value="false"/>
    </php>

    <testsuites>
        <testsuite name="eLife Journal">
            <directory>test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <element key="time-sensitive">
                        <array>
                            <element>
                                <string>eLife\Journal\Controller</string>
                            </element>
                            <element>
                                <string>eLife\Journal\Security</string>
                            </element>
                            <element>
                                <string>eLife\Journal\Security\Voter</string>
                            </element>
                            <element>
                                <string>eLife\Journal\ViewModel\Factory</string>
                            </element>
                        </array>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>

</phpunit>
