{% set criticalCss = 'people' %}

{% extends '::page.html.twig' %}

{% block title %}{{ title }} | About{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(menuLink) }}

    </div>

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/listing-one-column.html.twig' with {fullWidth: true} %}

        {% block listing %}

            {% for list in lists %}
                {{ render_pattern(list) }}
            {% endfor %}

        {% endblock %}

    {% endembed %}

{% endblock %}
