{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top-lg">

        <div class="grid">

            <div class="listing-column-container">

                <div class="{% include 'grid-item-classes.html.twig' %}">

                    {{ render_pattern(listing) }}

                </div>

            </div>

        </div>

    </div>

{% endblock %}
