{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if covers %}

        <div class="wrapper u-pad-top-lg">
            {{ render_pattern(covers) }}
        </div>

    {% endif %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}

        {% block secondary %}

            {% if magazine %}

                {{ render_pattern(magazine) }}

            {% endif %}

        {% endblock %}

    {% endembed %}

{% endblock %}
