{% extends '::page.html.twig' %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top-lg">

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item large--eight-twelfths listing-column-main {% if not magazine %}push--large--two-twelfths{% endif %}">

                    {{ render_pattern(listing) }}

                </div>

                {% if magazine %}

                    <div class="grid__item large--four-twelfths listing-column-secondary">

                        {{ render_pattern(magazine) }}

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
