{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% if covers %}

        <div class="wrapper u-pad-top-lg">
            {{ render_pattern(covers) }}
        </div>

    {% endif %}

    <div class="wrapper u-pad-top-lg">

        <div class="grid">

            <div class="listing-column-container">

                <div class="grid__item large--eight-twelfths listing-column-main {% if not magazine %}push--large--two-twelfths{% endif %}">

                    {{ render_pattern(listing) }}

                </div>

                {% if magazine %}

                    <div class="grid__item large--four-twelfths listing-column-secondary">

                        {{ render_pattern(magazine) }}

                    </div>

                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}
