{% extends '::article.html.twig' %}

{% block canonical %}
    {{ path('article-figures', {id: article.id}) }}
{% endblock %}

{% block article_body %}

    <div class="grid__item large--ten-twelfths push--large--one-twelfth x-large--eight-twelfths push--x-large--zero blg-pad-top-medium" data-behaviour="FragmentHandler">

        {% fragment_link_rewrite textPath %}

        {% for part in body %}

            {{ render_pattern(part) }}

        {% endfor %}

        {% end_fragment_link_rewrite %}

    </div>

{% endblock %}
