{% if callsToAction|default([]) %}

    <div class="wrapper">

        {% if socialMediaSharersLinks is defined and socialMediaSharersLinks %}

            <div class="grid">
                {% for callToAction in callsToAction %}
                    {{ render_pattern(callToAction) }}
                {% endfor %}
            </div>

        {% else %}

            {% for callToAction in callsToAction %}
                {{ render_pattern(callToAction) }}
            {% endfor %}

        {% endif %}
        
    </div>

{% endif %}
