{% extends '::page.html.twig' %}

{% block title %}Careers{% endblock %}

{% block body %}

    {{ info_bar('This page is incomplete.') }}

    <div class="wrapper">

        <h1>Careers</h1>

    </div>

{% endblock %}
