{% extends '::page.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        <div class="grid">

            <div class="grid__item large--eight-twelfths {% if not highlights %}push--large--two-twelfths{% endif %}">

                {{ render_pattern(listing) }}

            </div>

            {% if highlights %}

                <div class="grid__item large--four-twelfths">

                    {{ render_pattern(highlights) }}

                </div>

            {% endif %}

        </div>

    </div>

{% endblock %}
