{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}
            <div class="contact-info">
                <p>
                    If you have a query about an article, please contact us at one of the following addresses: <a href="mailto:editorial@elifesciences.org">editorial@elifesciences.org</a> (author queries), or <a href="mailto:production@elifesciences.org">production@elifesciences.org</a> (production queries), or <a href="mailto:press@elifesciences.org">press@elifesciences.org</a> (press queries).
                </p>
                <p>
                    If you have identified a bug or you have a suggestion for our website, please email <a href="mailto:site-feedback@elifesciences.org">site-feedback@elifesciences.org</a>.
                </p>
                <p>
                Alternatively, your query may be answered in our frequently asked questions which can be found <a
                            href="https://elife-rp.msubmit.net/html/elife-rp_author_instructions.html#faq">here</a>.
                </p>
            </div>
        {% endblock %}

        {% block secondary %}

            <div class="grid-secondary-column__item">

                <dl>
                    <dt>Telephone</dt>
                    <dd><a href="tel:+441223855340">+44&nbsp;1223&nbsp;855340</a></dd>
                    <dt>Address</dt>
                    <dd>
                        eLife Sciences Publications, Ltd<br>
                        Westbrook Centre, Milton Road<br>
                        Cambridge CB4 1YG<br>
                        UK
                    </dd>
                </dl>

            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
