{% extends '::page.html.twig' %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        <div class="grid">

            <div class="grid__item large--eight-twelfths push--large--two-twelfths">

                {{ render_pattern(listing) }}

            </div>

        </div>

    </div>

{% endblock %}
