{% extends '::page.html.twig' %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    <div class="wrapper">

        <h1>eLife</h1>

    </div>

{% endblock %}
