{% extends '::page.html.twig' %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        {% if latestResearch %}

            {{ render_pattern(latestResearch) }}

        {% else %}

            {{ render_pattern(latestResearchHeading) }}

            <p>No articles available.</p>

        {% endif %}

    </div>

{% endblock %}
