{% extends '::page.html.twig' %}

{% block title %}Inside eLife{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        {% if latest %}

            {{ render_pattern(latest) }}

        {% else %}

            {{ render_pattern(latestHeading) }}

            <p>No articles available.</p>

        {% endif %}

    </div>

{% endblock %}
