{% set criticalCss = 'listing' %}

{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="dummy">dummy 1</div>
    <div class="dummy">dummy 2</div>

    {% embed 'grid/listing-one-column.html.twig' %}

        {% block listing %}

            {{ render_pattern(listing) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
