{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(leadParas) }}

        {{ render_pattern(listing) }}

    </div>

{% endblock %}
