{% extends '::page.html.twig' %}

{% block title %}Labs{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(leadParas) }}

        {% if experiments %}

            {{ render_pattern(experiments) }}

        {% else %}

            <p class="blg-pad-top-medium">No experiments available.</p>

        {% endif %}

    </div>

{% endblock %}
