{% set criticalCss = 'grid-listing' %}

{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">
        {% include 'calls-to-action.html.twig' %}
    </div>

    {% embed 'grid/listing-one-column.html.twig' with {fullWidth: true} %}

        {% block listing %}

            {{ render_pattern(listing) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
