{% extends '::page.html.twig' %}

{% block title %}{{ experiment.title }} | Labs{% endblock %}

{% block body %}

    {{ info_bar('This page is incomplete.') }}

    <div class="wrapper">

        <h1>{{ experiment.title }}</h1>

    </div>

{% endblock %}
