{% extends '::page.html.twig' %}

{% if title is defined %}
    {% block title %}{{ title }}{% endblock %}
{% endif %}

{% block body %}

    <div class="wrapper u-pad-top">

        {{ render_pattern(contentHeader) }}

        <div class="grid">

            <div class="grid__item large--eight-twelfths push--large--two-twelfths">

                {{ render_pattern(listing) }}

            </div>

        </div>

    </div>

{% endblock %}
