{% extends '::page.html.twig' %}

{% block head %}

  {{ parent() }}

  <style>

  :root {

    /* Colours */
    --light-blue: #2792d3;
    --dark-blue: #173e83;
    --light-green: #71b819;
    --dark-green: #326b2b;
    --light-pink: #d61e64;
    --dark-pink: #861352;

    /* Width of the coloured bars at various viewport widths. Also used in lengths that are coupled to the bar size */
    --bar-size-narrow: 24px;
    --bar-size-medium: 36px;
    --bar-size-wide: 48px;

    --bar-size: var(--bar-size-narrow);

    /* Used to vertically roughly align the centre of the outer bar circle with the centre line of the heading text */
    /* Used in calc() so need units, even when 0 */
    --outer-bar-vertical-fudge-factor-narrow: 0px;
    --outer-bar-vertical-fudge-factor-medium: -6px;
    --outer-bar-vertical-fudge-factor-wide: -10px;

    --outer-bar-vertical-fudge-factor: var(--outer-bar-vertical-fudge-factor-narrow);

    /* Spacing between outer sections */
    --inter-section-vertical-separation: calc(var(--bar-size) * 2);

    /* Spacing between outer and inner sections, and between inner sections */
    --intra-section-vertical-separation: calc(var(--bar-size));
  }

  /* 730px */
  @media screen and (min-width: 45.625em) {
    :root {
      --bar-size: var(--bar-size-medium);
      --outer-bar-vertical-fudge-factor: var(--outer-bar-vertical-fudge-factor-medium);
    }
  }

  /* 900 px */
  @media screen and (min-width: 56.25em) {
    :root {
      --bar-size: var(--bar-size-wide);
      --outer-bar-vertical-fudge-factor: var(--outer-bar-vertical-fudge-factor-wide);
    }
  }

  /* Content header */

    .peer-review-process-page .content-header__impact-statement,
    .peer-review-process-page .content-header__impact-statement > p {
      font-family: "Noto Sans",Arial,Helvetica,sans-serif;
      font-size: calc((14 / 16) * 1rem);
    }

    .peer-review-process-page .content-header__impact-statement > p {
      margin-top: 1rem;
    }

    /* Expedient yet horrible way of overriding specificity introduced somewhere out of scope without using !important */
    .peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link.peer-review-process-content-header-link {
      font-weight: bold;
      border-bottom-width: 0;
      color: #167bc9;
    }

    /* constrain content header to be roughly no wider than the main content above 1200px viewport width */
    @media screen and (min-width: 75em) {
      .peer-review-process-page .content-header__body,
      .peer-review-process-page .content-header.wrapper::after {
        max-width: 66%;
        margin-left: auto;
        margin-right: auto;
      }
    }

    /* Outer funky bars */

    /* Move space above heading from padding to margin as we need the bars to stop at the top of the heading */
    .peer-review-process-page-process-outer-section-heading {
      padding-top: 0;
      margin-top: calc((21 / 16) * 1rem);
    }

    /* create space and a positioning context to place pseudo elements for the outer vertical bars & circles */
    .peer-review-process-page-process-outer-section {
      position: relative;
      padding-left: calc(var(--bar-size) * 2);
      margin-bottom: var(--inter-section-vertical-separation);
    }

    /* All outer vertical bars */
    .peer-review-process-page-process-outer-section::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: var(--outer-bar-vertical-fudge-factor);
      z-index: 1;

      height: calc(100% + (var(--outer-bar-vertical-fudge-factor) * -1));
      width: var(--bar-size);
      border-radius: var(--bar-size);
    }

    /* Outer bar colours vary depending on their order on the page */
    .peer-review-process-page-process-outer-section:nth-of-type(1)::before {
      background-color: var(--dark-blue);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(2)::before {
      background-color: var(--light-green);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(3)::before {
      background-color: var(--light-pink);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(4)::before {
      background-color: var(--light-blue);
    }

    /* All outer section circles */
    .peer-review-process-page-process-outer-section::after {
      content: '';
      position: absolute;
      top: var(--outer-bar-vertical-fudge-factor);
      left: 0;
      z-index: 2;
      width: var(--bar-size);
      height: var(--bar-size);

      border-radius: 50%;
    }

    /* Outer circle colours vary depending on their order on the page */
    .peer-review-process-page-process-outer-section:nth-of-type(1)::after {
      background-color: var(--light-blue);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(2)::after {
      background-color: var(--dark-green);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(3)::after {
      background-color: var(--dark-pink);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(4)::after {
      background-color: var(--dark-blue);
    }

  /*  at 480px we're wide enough to display the inner bar */
  @media screen and (min-width: 30em) {

    .peer-review-process-page-process-inner-section-part {
      margin-bottom: var(--intra-section-vertical-separation);
    }

    /* Inner funky bars */

    /* create space and a positioning context to place pseudo elements for the inner vertical bars & colours */
    .peer-review-process-page-process-inner-section {
      position: relative;
      padding-left: calc(var(--bar-size) * 2);
      /* top rather than bottom so as to provide separation above the first inner section of each outer section. (Breaks usual approach of always applying bottom margin to manage vertical whitespace.) */
      margin-top: var(--intra-section-vertical-separation);
    }

    /* All inner bars */
    .peer-review-process-page-process-inner-section::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      z-index: 1;

      height: 100%;
      width: var(--bar-size);
      border-radius: var(--bar-size);
    }

    /*  Main colours of the inner bars vary depending on their order on the page */
    .peer-review-process-page-process-outer-section:nth-of-type(1) .peer-review-process-page-process-inner-section::before {
      background-color: var(--light-blue);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(2) .peer-review-process-page-process-inner-section::before {
      background-color: var(--dark-green);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(3) .peer-review-process-page-process-inner-section::before {
      background-color: var(--dark-pink);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(4) .peer-review-process-page-process-inner-section::before {
      background-color: var(--dark-blue);
    }

    /* Prevent the height of the inner bar lower colour (when > 1 part in an inner section) from overflowing*/
    .peer-review-process-page-process-inner-section-part--final {
      position: relative;
    }

    /* Second colour inner bar area. Applied by the final part within an inner section, it overlays the main color on the inner bar */
    .peer-review-process-page-process-inner-section-part--final::before {
      content: '';
      display: block;
      position: absolute;

      /* overlay the inner bar */
      left: calc(var(--bar-size) * -2);
      z-index: 3;

      height: 100%;
      width: var(--bar-size);
      border-radius: var(--bar-size);
    }

    /* If we only have one part to an inner section, the second colour of the inner bar is used to describe a circle at the top of the inner bar */
    .peer-review-process-page-process-inner-section-part--final:only-child::before {
      height: var(--bar-size);
    }

    /*  Second colours of the inner bars vary depending on the order on their outer sections on the page */
    .peer-review-process-page-process-outer-section:nth-of-type(1) .peer-review-process-page-process-inner-section-part--final::before {
      background-color: var(--dark-blue);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(2) .peer-review-process-page-process-inner-section-part--final::before {
      background-color: var(--light-green);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(3) .peer-review-process-page-process-inner-section-part--final::before {
      background-color: var(--light-pink);
    }

    .peer-review-process-page-process-outer-section:nth-of-type(4) .peer-review-process-page-process-inner-section-part--final::before {
      background-color: var(--light-blue);
    }

  }

  </style>

{% endblock %}

{% block body %}

  <div class="peer-review-process-page">

    {{ render_pattern(contentHeader) }}

    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/content.html.twig' %}

      {% block main %}
        {#  To make the bars layout correctly with the correct styles:     #}
        {#  Each main section is .peer-review-process-page-process-outer-section      #}
        {#  Each main section contains one .peer-review-process-page-process-outer-section-heading and one or more paragraph cild elements      #}
        {#  Each main section contains one inner section that contains all parts of that inner section  #}
        {#  Each inner section is .peer-review-process-page-process-inner-section    #}
        {#  Each inner section contains at least one inner section part   #}
        {#  Each inner section part is .peer-review-process-page-process-inner-section-part   #}
        {#  The final inner section part is additionally .peer-review-process-page-process-inner-section-part--final     #}

        {# This page only caters for four outer sections, as that's all we have at the moment, and may never have more. If more are added it shouldn't be that tricky to extend the CSS to cater for them. #}

        <section class="peer-review-process-page-process-outer-section">

          <h2 class="peer-review-process-page-process-outer-section-heading">Submission</h2>

          <p>Submission to eLife is easy, especially if you have already posted a preprint. If you have not yet posted your research as a preprint, we can help you to post it to bioRxiv (a preprint server for the life sciences) or medRxiv (a preprint server for clinical and health sciences).</p>

          <div class="peer-review-process-page-process-inner-section">
            <div class="peer-review-process-page-process-inner-section-part">
              <h3>Posting a preprint</h3>
              <p>At submission we’ll ask for the DOI of your preprint if you have one already. A preprint allows researchers to rapidly disseminate their findings, establishes priority, and allows authors to retain control over the publishing process.</p>
            </div>

            <div class="peer-review-process-page-process-inner-section-part peer-review-process-page-process-inner-section-part--final">
              <h3>Sending for peer review</h3>
              <p>Submissions deemed to be potentially significant by editors are selected for peer review. Unfortunately, eLife does not have capacity to review every submission, so some will not be sent for peer review.</p>
            </div>
          </div>
        </section>

        <section class="peer-review-process-page-process-outer-section">

          <h2 class="peer-review-process-page-process-outer-section-heading">Peer Review</h2>

          <p>Reviewers are asked to write a Public Review that comments on the strengths and weaknesses of the preprint and on whether the claims and conclusions are justified by the data. Reviewers also provide recommendations for the authors, including suggestions for revisions and improvements.</p>

          <div class="peer-review-process-page-process-inner-section">
            <div class="peer-review-process-page-process-inner-section-part">
              <h3>eLife Assessment</h3>
              <p>During the review process, editors and reviewers discuss their reviews with each other and assess the significance of the findings and the strength of the evidence reported in the preprint. Their conclusions are captured in an “eLife assessment”, which is written with the help of a <a href="{{ path('inside-elife-article', {id: 'db24dd46'}) }}">shared vocabulary</a> to ensure consistency.</p>
            </div>

            <div class="peer-review-process-page-process-inner-section-part peer-review-process-page-process-inner-section-part--final">
              <h3>Publication fee</h3>
              <p>The fee for publishing with eLife will be reduced from $3,000 to $2,000, charged at the point we commit to peer reviewing the work.</p>
            </div>
          </div>
        </section>

        <section class="peer-review-process-page-process-outer-section">

          <h2 class="peer-review-process-page-process-outer-section-heading">Reviewed Preprint</h2>

          <p>Under this new approach eLife will no longer make accept or reject decisions following peer review. Instead every article selected for peer review will be published as a Reviewed Preprint on the eLife website. This will include the preprint itself along with its eLife assessment, public reviews and – if the author wishes – a response from the authors.</p>

          <div class="peer-review-process-page-process-inner-section">
            <div class="peer-review-process-page-process-inner-section-part">
              <h3>Author revisions</h3>
              <p>Upon receiving the reviews, the authors decide whether to proceed to a Version of Record or undertake revisions. If the authors would like us to consider a revised version, they will need to update their preprint.</p>
            </div>

            <div class="peer-review-process-page-process-inner-section-part peer-review-process-page-process-inner-section-part--final">
              <h3>Updates to peer reviews and assessments</h3>
              <p>We will consider whether to re-review revised preprints, and update our assessment and the Public Reviews as needed. The recommendations for the authors and author responses are also included in a revised Reviewed Preprint.</p>
            </div>
          </div>
        </section>

        <section class="peer-review-process-page-process-outer-section">

          <h2 class="peer-review-process-page-process-outer-section-heading">Version of Record</h2>

          <p>When authors are satisfied that the process is complete, they can request that the current Reviewed Preprint becomes the Version of Record. This involves submission of high resolution figure files and some additional data to prepare the full and final version for publication. Authors will also have the opportunity to proof their work.</p>

          <p>The Version of Record will replace the Reviewed Preprint as the latest version of the authors’ work on eLife, and will retain the same citation and DOI, which will direct anybody visiting previous versions to the latest version.</p>

          <div class="peer-review-process-page-process-inner-section">
            <div class="peer-review-process-page-process-inner-section-part peer-review-process-page-process-inner-section-part--final">
              <h3>Publishing with another journal</h3>
              <p>We hope authors will want to proceed with an eLife Version of Record. If not, they are still welcome to submit their research for publication at another journal. The Reviewed Preprint hosted by eLife will remain, and where possible we will add a link to say that the final version has been published somewhere else.</p>
            </div>
          </div>
        </section>

        <p>To learn more about how the new process will work, <a href="{{ path('inside-elife-article', {id: '54d63486'}) }}">read the Inside eLife post</a>.</p>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
