{% extends '::page.html.twig' %}

{% block title %}Podcast{% endblock %}

{% block body %}

    {{ info_bar('This page is incomplete.') }}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        <h3 class="list-heading">Latest episodes</h3>

        {% if episodes|length %}

            <ul class="grid">

                {% for episode in episodes %}
                    <li class="grid__item medium--four-twelfths">{{ render_pattern(episode) }}</li>
                {% endfor %}

            </ul>

        {% else %}

            <p>No episodes available.</p>

        {% endif %}

    </div>

{% endblock %}
