{% extends '::page.html.twig' %}

{% block title %}Podcast{% endblock %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {% if episodes %}

            {{ render_pattern(episodes) }}

        {% else %}

            <p class="blg-pad-top-medium">No episodes available.</p>

        {% endif %}

    </div>

{% endblock %}
