{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}

        {% block secondary %}

            <div class="grid-secondary-column__item">

                {% for sidebarItem in sidebar %}
                    {{ render_pattern(sidebarItem) }}
                {% endfor %}

            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
