{% extends '::page.html.twig' %}

{% block title %}{{ title|striptags }} | For the press{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% embed 'grid/content.html.twig' %}

        {% block main %}

            {% for block in blocks %}
                {{ render_pattern(block) }}
            {% endfor %}

        {% endblock %}

        {% block secondary %}

            <div class="grid-secondary-column__item">

                {{ render_pattern(relatedContent) }}

            </div>

        {% endblock %}

    {% endembed %}

{% endblock %}
