{% extends '::page.html.twig' %}

{% block info_bar %}

    {{ info_bar('This page is incomplete.') }}

{% endblock %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper">

        {{ render_pattern(leadParas) }}

        <div class="grid">

            <div class="grid__item medium--six-twelfths push--large--three-twelfths">

                {% for part in body %}

                    {{ render_pattern(part) }}

                {% endfor %}

            </div>

        </div>

    </div>

{% endblock %}
