{% set critical = 'critical/critical-css-inline-grid-listing.css.twig' %}

{% extends '::page.html.twig' %}

{% block body %}

    <div class="wrapper">

        {{ render_pattern(contentHeader) }}

    </div>

    <div class="wrapper wrapper--listing">

        {{ render_pattern(subjects) }}

    </div>

{% endblock %}
