{% extends '::page.html.twig' %}

{% block body %}

    <div class="wrapper u-pad-top">

        {{ render_pattern(contentHeader) }}

        {% if subjects %}

            {{ render_pattern(subjects) }}

        {% else %}

            <p>No subjects available.</p>

        {% endif %}

    </div>

{% endblock %}
