{% set criticalCss = 'grid-listing' %}

{% extends '::page.html.twig' %}

{% block body %}

    <div class="header-wrapper wrapper">
        {{ render_pattern(contentHeader) }}
    </div>
    
    {% include 'calls-to-action.html.twig' %}

    {% embed 'grid/listing-one-column.html.twig' with {fullWidth: true} %}

        {% block listing %}

            {{ render_pattern(subjects) }}

        {% endblock %}

    {% endembed %}

{% endblock %}
