{% extends '::page.html.twig' %}

{% block body %}

    <div class="wrapper">

        {{ render_pattern(contentHeader) }}

    </div>

    <div class="wrapper wrapper--listing">

        {% if subjects %}

            {{ render_pattern(subjects) }}

        {% else %}

            <p>No subjects available.</p>

        {% endif %}


    </div>

{% endblock %}
