{% set criticalCss = 'landing' %}

{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    {% embed 'grid/listing-two-column.html.twig' %}

        {% block main %}

            {{ render_pattern(listing) }}

        {% endblock %}

        {% block secondary %}

            {% if highlights %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(highlights) }}

                </div>

            {% endif %}

            {% if seniorEditors %}

                <div class="grid-secondary-column__item">

                    {{ render_pattern(seniorEditors) }}

                </div>

            {% endif %}

        {% endblock %}

    {% endembed %}

{% endblock %}
