{% extends '::page.html.twig' %}

{% block title %}Terms and policy{% endblock %}

{% block body %}

    {{ info_bar('This page is incomplete.') }}

    <div class="wrapper">

        <h1>Terms and policy</h1>

    </div>

{% endblock %}
