{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper u-pad-top">

        {% for listing in listings %}
            {{ render_pattern(listing) }}
        {% endfor %}

    </div>

{% endblock %}
