{% set critical = 'critical/critical-css-inline-grid-listing.css.twig' %}

{% extends '::page.html.twig' %}

{% block body %}

    {{ render_pattern(contentHeader) }}

    <div class="wrapper wrapper--listing">

        {% for listing in listings %}
            {{ render_pattern(listing) }}
        {% endfor %}

    </div>

{% endblock %}
