imports:
  - resource: config_dev.yml
  - resource: services_ci.yml

parameters:
    api_url: http://api.elifesciences.org
    api_url_public: http://api.elifesciences.org
    api_mock: '%kernel.project_dir%/var/fixtures/instance_%kernel.instance%'
    cache_control: public, max-age=300, stale-while-revalidate=300, stale-if-error=86400
    calls_to_action:
        - id: cta1
          from: 2100-01-01T00:00:00Z
          path: ^/
          text: Call to action 1
          button:
              text: Button text
              path: https://elifesciences.org
          image:
              alt: ''
              uri: https://www.example.com/iiif/thumb%2Fnail
              source:
                  mediaType: image/jpg
                  uri: https://www.example.com/image.jpg
                  filename: image.jpg
              size:
                  width: 800
                  height: 600
        - id: cta2
          path: ^/some-non-existent-path$
          text: Call to action 2
          button:
              text: Button text
              path: https://elifesciences.org
          image:
              alt: ''
              uri: https://www.example.com/iiif/thumb%%2Fnail
              source:
                  mediaType: image/jpg
                  uri: https://www.example.com/image.jpg
                  filename: image.jpg
              size:
                  width: 800
                  height: 600
        - id: cta3
          from: 2000-01-01T00:00:00Z
          path: ^/
          text: Call to action 3
          button:
              text: Button text
              path: https://elifesciences.org
          image:
              alt: ''
              uri: https://www.example.com/iiif/thumb%2Fnail
              source:
                  mediaType: image/jpg
                  uri: https://www.example.com/image.jpg
                  filename: image.jpg
              size:
                  width: 800
                  height: 600
        - id: cta4
          from: 2100-01-01T00:00:00Z
          text: Call to action 4
          button:
              text: Button text
              path: https://elifesciences.org
          image:
              alt: ''
              uri: https://www.example.com/iiif/thumb%%2Fnail
              source:
                  mediaType: image/jpg
                  uri: https://www.example.com/image.jpg
                  filename: image.jpg
              size:
                  width: 800
                  height: 600
        - id: cta5
          text: Call to action 5
          button:
              text: Button text
              path: https://elifesciences.org
          image:
              alt: ''
              uri: https://www.example.com/iiif/thumb%%2Fnail
              source:
                  mediaType: image/jpg
                  uri: https://www.example.com/image.jpg
                  filename: image.jpg
              size:
                  width: 800
                  height: 600
    crm_url: http://crm.elifesciences.org/crm/civicrm/
    oauth2_client_id: journal_client_id
    oauth2_client_secret: journal_client_secret
    session_name: MOCKSESSID
    status_checks:
        Check 1: foo
        Check 2: bar
    subject_rewrites:
      - from_id: old-subject
        to_id: new-subject
        to_name: New Subject
    era_articles:
        'id-of-article-with-era':
            date: '2030-01-01T00:00:00Z'
            display: https://repro.elifesciences.org/example.html
            download: https://repro.elifesciences.org/archive.zip
    submit_url: http://submit.elifesciences.org/path

framework:
    profiler:
        collect: false
        enabled: true
    session:
        storage_id: session.storage.mock_file
    test: ~

monolog:
    handlers:
        main:
            type: 'null'

web_profiler:
    toolbar: false
