imports:
  - resource: parameters.yml
  - resource: security.yml
  - resource: services.yml

parameters:
    honeypot_field: email_address

bobthecow_mustache:
    globals:
        assetRewrite: '@elife.patterns.mustache.helpers.asset_rewrite'
        assetsPath: 'assets/patterns'
    loader_id: elife.journal.mustache.loader
    partials_loader_id: elife.patterns.mustache.loader.pattern_lab

csa_guzzle:
    clients:
        elife_api:
            config:
                base_uri: '%api_url%'
                connect_timeout: 0.5
                headers:
                    Authorization: '%api_key%'
                timeout: 1
        elife_crm:
            config:
                base_uri: '%crm_url%'
                connect_timeout: 1
                timeout: 3
        file_download:
            config:
                connect_timeout: 0.5
                http_errors: false
                stream: true

framework:
    assets:
        version_strategy: irozgar_gulp_rev_versions.asset.gulp_rev_version_strategy
    cache:
        default_redis_provider: '%redis_cache%'
        pools:
            cache.doi:
                adapter: cache.app
                default_lifetime: 31536000 # 1 year
                public: true
            cache.guzzle:
                adapter: cache.app
                clearer: ~
                default_lifetime: 31536000 # 1 year
                public: true
    csrf_protection: ~
    form: ~
    router:
        resource: '%kernel.root_dir%/config/routing.yml'
    secret: '%secret%'
    session:
        name: '%session_name%'
        save_path: '0;660;%kernel.root_dir%/../var/sessions/%kernel.environment%'
    templating:
        engines:
          - mustache
          - twig

hwi_oauth:
    firewall_names:
      - main
    resource_owners:
        google:
            type: google
            client_id: '%google_client_id%'
            client_secret: '%google_client_secret%'
            scope: email profile
            options:
                csrf: true

irozgar_gulp_rev_versions:
    manifest_path: '../build/rev-manifest.json'

isometriks_spam:
    honeypot:
        field: '%honeypot_field%'
        global: true
        message: Please try submitting the form again.

monolog:
    channels:
      - api

nelmio_security:
    clickjacking: # Deprecated by frame-ancestors
        paths:
            '^/.*': DENY
    content_type:
        nosniff: true
    csp:
        enforce:
            frame-ancestors:
              - none
            report-uri: '%router.request_context.base_url%/nelmio/csp/report'
    referrer_policy:
        enabled: true
        policies:
          - no-referrer
          - strict-origin-when-cross-origin
    xss_protection:
        enabled: true
        mode_block: true

swiftmailer:
    transport: '%mailer_transport%'
    host: '%mailer_host%'
    port: '%mailer_port%'
    username: '%mailer_username%'
    password: '%mailer_password%'
    encryption: '%mailer_encryption%'
    spool:
        type: memory

twig:
    debug: '%kernel.debug%'
    exception_controller: AppBundle:Exception:show
    globals:
        disqus_domain: '%disqus_domain%'
        gtm_id: '%gtm_id%'
    paths:
        '%kernel.root_dir%/../build/critical-css': 'critical-css'
    strict_variables: '%kernel.debug%'
