imports:
  - resource: config.yml

framework:
    cache:
        app: cache.adapter.redis
        default_redis_provider: '%redis_cache%'
    session:
        cookie_secure: true
    trusted_hosts: '%trusted_hosts%'

monolog:
    handlers:
        console:
            type: console
        main:
            action_level: error
            handler: composite
            type: fingers_crossed
            excluded_404s:
                - ^/
        composite:
            type: group
            members:
                - text
                - json
                - newrelic
        text:
            type: stream
            path: '%kernel.logs_dir%/%kernel.environment%.txt.log'
            level: debug
            formatter: monolog.formatter.line
        json:
            type: stream
            path: '%kernel.logs_dir%/%kernel.environment%.json.log'
            level: debug
            formatter: monolog.formatter.json
        newrelic:
            type: newrelic
            level: error

nelmio_security:
    csp:
        enforce:
            default-src:
              - 'https:'
              - unsafe-inline
    forced_ssl:
        whitelist:
          - ^/ # Hack to disable redirect.
        hsts_max_age: 31536000 # 1 year
