imports:
  - resource: config_dev.yml
  - resource: services_ci.yml

parameters:
    api_url: http://api.elifesciences.org
    api_url_public: http://api.elifesciences.org
    api_mock: '%kernel.project_dir%/var/fixtures/instance_%kernel.instance%'
    cache_control: public, max-age=300, stale-while-revalidate=300, stale-if-error=86400
    crm_url: http://crm.elifesciences.org/crm/civicrm/
    feature_xpub: '%env(FEATURE_XPUB)%'
    env(FEATURE_XPUB): false
    oauth2_client_id: journal_client_id
    oauth2_client_secret: journal_client_secret
    session_name: MOCKSESSID
    status_checks:
        Check 1: foo
        Check 2: bar
    subject_rewrites:
      - from_id: old-subject
        to_id: new-subject
        to_name: New Subject
    submit_url: http://submit.elifesciences.org/path

framework:
    profiler:
        collect: false
        enabled: true
    session:
        storage_id: session.storage.mock_file
    test: ~

monolog:
    handlers:
        main:
            type: 'null'

web_profiler:
    toolbar: false
