imports:
  - resource: config_dev.yml
  - resource: services_test.yml

parameters:
    api_url: http://api.elifesciences.org
    api_url_public: http://api.elifesciences.org
    api_mock: '%kernel.cache_dir%/guzzle/fixtures/%instance%'
    crm_url: http://crm.elifesciences.org/crm/civicrm/
    instance: '%env(TEST_TOKEN)%'
    env(TEST_TOKEN): '1'
    oauth2_client_id: journal_client_id
    oauth2_client_secret: journal_client_secret
    status_checks:
        Check 1: foo
        Check 2: bar
    subject_rewrites:
      - from_id: old-subject
        to_id: new-subject
        to_name: New Subject

framework:
    profiler:
        collect: false
        enabled: true
    router:
        resource: '%kernel.project_dir%/app/config/routing_test.yml'
    session:
        storage_id: session.storage.mock_file
    test: ~

web_profiler:
    toolbar: false
