parameters:
    api_url: https://api.elifesciences.org
    api_url_public: '%api_url%'
    api_key: public
    side_by_side_view_url: https://lens.elifesciences.org/
    secret: ThisTokenIsNotSoSecretChangeIt
    session_name: journal
    redis: ~
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_port: ~
    mailer_username: ~
    mailer_password: ~
    mailer_encryption: ~
    crm_url: https://crm.elifesciences.org/crm/civicrm/
    disqus_domain: elifesciences
    gtm_id: ~
    trusted_hosts:
      - .*\.?elifesciences.org$
    status_checks:
        Articles: articles
    oauth2_client_id: some-id
    oauth2_client_secret: ThisIsASecret
    feature_can_view_webp_countries: ['GB']
