log-in:
    path: /log-in
    defaults:
        _controller: AppBundle:Auth:redirect

log-in-orcid-visibility-setting:
  path: /log-in/orcid-visibility-setting
  defaults:
    _controller: AppBundle:Auth:orcidVisibilitySetting

log-in-check:
    path: /log-in/check

log-out:
    path: /log-out

home:
    path: /
    defaults:
         _controller: AppBundle:Home:home

about:
    path: /about
    defaults:
         _controller: AppBundle:About:about

about-aims-scope:
    path: /about/aims-scope
    defaults:
         _controller: AppBundle:About:aimsScope

about-research-culture:
    path: /about/research-culture
    defaults:
         _controller: AppBundle:About:researchCulture

about-technology:
    path: /about/technology
    defaults:
         _controller: AppBundle:About:technology

about-peer-review:
    path: /about/peer-review
    defaults:
         _controller: AppBundle:About:peerReview

about-people:
    path: /about/people/{type}
    defaults:
         _controller: AppBundle:About:people
         type: ''

alerts:
    path: /alerts
    defaults:
         _controller: AppBundle:Alerts:alerts

annual-reports:
    path: /annual-reports
    defaults:
         _controller: AppBundle:AnnualReports:list

archive:
    path: /archive
    defaults:
         _controller: AppBundle:Archive:index
    condition: 'request.query.get("year") > 0'

archive-year:
    path: /archive/{year}
    defaults:
         _controller: AppBundle:Archive:year
    requirements:
        year: '[2-9][0-9]{3}'

archive-month:
    path: /archive/{year}/{month}
    defaults:
         _controller: AppBundle:Archive:month
    requirements:
        year: '[2-9][0-9]{3}'

article-version:
    path: /articles/{id}v{version}
    defaults:
         _controller: AppBundle:Articles:text
    requirements:
        id: '[a-z0-9-]+'
        version: '[1-9][0-9]*'

article-bibtex:
    path: /articles/{id}.bib
    defaults:
         _controller: AppBundle:Articles:bibTex
    requirements:
        id: '[a-z0-9-]+'

article-version-pdf:
    path: /articles/{id}v{version}.pdf
    defaults:
        _controller: AppBundle:Articles:pdf
    requirements:
        id: '[a-z0-9-]+'
        version: '[1-9][0-9]*'

article-pdf:
    path: /articles/{id}.pdf
    defaults:
        _controller: AppBundle:Articles:pdf
    requirements:
        id: '[a-z0-9-]+'

article-ris:
    path: /articles/{id}.ris
    defaults:
         _controller: AppBundle:Articles:ris
    requirements:
        id: '[a-z0-9-]+'

article-era:
    path: /articles/{id}/executable
    defaults:
      _controller: AppBundle:Articles:era
    requirements:
        id: '[a-z0-9-]+'

article-era-download:
    path: /articles/{id}/executable/download
    defaults:
      _controller: AppBundle:Articles:eraDownload
    requirements:
        id: '[a-z0-9-]+'

article-type:
    path: /articles/{type}
    defaults:
         _controller: AppBundle:ArticleTypes:list
    requirements:
        type: '(correction|editorial|feature|insight|research-advance|research-article|research-communication|retraction|registered-report|replication-study|review-article|scientific-correspondence|short-report|tools-resources)'

article-version-xml:
    path: /articles/{id}v{version}.xml
    defaults:
         _controller: AppBundle:Articles:xml
    requirements:
        id: '[a-z0-9-]+'
        version: '[1-9][0-9]*'

article-xml:
    path: /articles/{id}.xml
    defaults:
         _controller: AppBundle:Articles:xml
    requirements:
        id: '[a-z0-9-]+'

article:
    path: /articles/{id}
    defaults:
         _controller: AppBundle:Articles:text
    requirements:
        id: '[a-z0-9-]+'

article-version-figures:
    path: /articles/{id}v{version}/figures
    defaults:
         _controller: AppBundle:Articles:figures
    requirements:
        id: '[a-z0-9-]+'
        version: '[1-9][0-9]*'

article-figures:
    path: /articles/{id}/figures
    defaults:
         _controller: AppBundle:Articles:figures
    requirements:
        id: '[a-z0-9-]+'

collection:
    path: /collections/{id}/{slug}
    defaults:
         _controller: AppBundle:Collections:collection
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

collections:
    path: /collections
    defaults:
         _controller: AppBundle:Collections:list

community:
    path: /community
    defaults:
         _controller: AppBundle:Community:list

contact:
    path: /contact
    defaults:
         _controller: AppBundle:Contact:contact

content-alerts:
    path: /content-alerts
    defaults:
         _controller: AppBundle:ContentAlerts:subscribe

content-alerts-variant:
    path: /content-alerts/{variant}
    defaults:
         _controller: AppBundle:ContentAlerts:subscribe
    requirements:
        variant: '(early\-career|technology|elife\-newsletter)'

content-alerts-link-expired:
    path: /content-alerts/expired
    defaults:
         _controller: AppBundle:ContentAlerts:linkExpired

content-alerts-update:
    path: /content-alerts/{id}
    defaults:
         _controller: AppBundle:ContentAlerts:update
    requirements:
        id: '[a-z0-9]+'

digest:
    path: /digests/{id}/{slug}
    defaults:
         _controller: AppBundle:Digests:digest
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

digests:
    path: /digests
    defaults:
         _controller: AppBundle:Digests:list

doi:
    path: /lookup/doi/{doi}
    defaults:
         _controller: AppBundle:Doi:doi
    requirements:
        doi: 10\.7554/eLife\.([a-z0-9-]+)

doi-sub:
    path: /lookup/doi/{doi}
    defaults:
         _controller: AppBundle:Doi:subDoi
    requirements:
        doi: 10\.7554/eLife\.([a-z0-9-.]+)

download:
    path: /download/{uri}/{name}
    defaults:
         _controller: AppBundle:Download:file

event:
    path: /events/{id}/{slug}
    defaults:
         _controller: AppBundle:Events:event
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

events:
    path: /events
    defaults:
         _controller: AppBundle:Events:list

interview:
    path: /interviews/{id}/{slug}
    defaults:
         _controller: AppBundle:Interviews:interview
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

interviews:
    path: /interviews
    defaults:
         _controller: AppBundle:Interviews:list

job-advert:
    path: /jobs/{id}/{slug}
    defaults:
         _controller: AppBundle:JobAdverts:jobAdvert
         slug: ''

job-adverts:
    path: /jobs
    defaults:
         _controller: AppBundle:JobAdverts:list

magazine:
    path: /magazine
    defaults:
         _controller: AppBundle:Magazine:list

press-pack:
    path: /for-the-press/{id}/{slug}
    defaults:
         _controller: AppBundle:PressPacks:pressPack
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

press-packs:
    path: /for-the-press
    defaults:
         _controller: AppBundle:PressPacks:list

inside-elife:
    path: /inside-elife
    defaults:
         _controller: AppBundle:InsideElife:list

inside-elife-article:
    path: /inside-elife/{id}/{slug}
    defaults:
         _controller: AppBundle:InsideElife:article
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

labs:
    path: /labs
    defaults:
         _controller: AppBundle:Labs:list

innovation:
    path: /innovation
    controller: Symfony\Bundle\FrameworkBundle\Controller\RedirectController::redirectAction
    defaults:
        route: labs

labs-post:
    path: /labs/{id}/{slug}
    defaults:
         _controller: AppBundle:Labs:post
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

podcast:
    path: /podcast
    defaults:
         _controller: AppBundle:Podcast:list

podcast-episode:
    path: /podcast/episode{number}
    defaults:
         _controller: AppBundle:Podcast:episode
    requirements:
        number: '[1-9][0-9]*'

privacy:
    path: /privacy
    defaults:
         _controller: AppBundle:Privacy:privacy

media-policy:
    path: /media-policy
    defaults:
         _controller: AppBundle:MediaPolicy:mediaPolicy

profile:
    path: /profiles/{id}
    defaults:
         _controller: AppBundle:Profiles:profile
    requirements:
        id: '[a-z0-9-]+'

promotional-collection:
    path: /highlights/{id}/{slug}
    defaults:
         _controller: AppBundle:PromotionalCollections:promotionalCollection
         slug: ''
    requirements:
        id: '[a-z0-9-]+'

resources:
    path: /resources
    defaults:
         _controller: AppBundle:Resources:resources

rss-ahead:
    path: /rss/ahead.xml

rss-recent:
    path: /rss/recent.xml

rss-recent-by-subject:
    path: /rss/subject/{id}.xml
    requirements:
        id: '[a-z0-9-]+'

rss-digests:
    path: /rss/digests.xml

rss-labs:
    path: /rss/labs.xml

rss-magazine:
    path: /rss/magazine.xml

search:
    path: /search
    defaults:
         _controller: AppBundle:Search:query

subject:
    path: /subjects/{id}
    defaults:
         _controller: AppBundle:Subjects:subject
    requirements:
        id: '[a-z0-9-]+'

subjects:
    path: /subjects
    defaults:
         _controller: AppBundle:Subjects:list

submit:
    path: /submit
    defaults:
        _controller: AppBundle:Submit:redirect

terms:
    path: /terms
    defaults:
         _controller: AppBundle:Terms:terms

who-we-work-with:
    path: /who-we-work-with
    defaults:
         _controller: AppBundle:WhoWeWorkWith:whoWeWorkWith

ping:
    path: /ping
    defaults:
         _controller: AppBundle:Status:ping

status:
    path: /status
    defaults:
         _controller: AppBundle:Status:status
