parameters:
    era_articles:
        '26231':
            date: '2030-01-01T00:00:00Z'
            display: https://repro.elifesciences.org/example.html
            download: https://repro.elifesciences.org/example.dar
