parameters:
    api_key: public
    secret: ThisTokenIsNotSoSecretChangeIt
    crm_api_key: ~
    crm_api_site_key: ~
    oauth2_client_secret: ThisIsASecretThatIsLongEnoughForHS256Signing
    hypothesis_client_secret: ThisIsASecretThatIsLongEnoughForHS256Signing
    xpub_client_secret: ThisIsASecretThatIsLongEnoughForHS256Signing
