{# Only the first content wrapper should use css .wrapper--content. #}
<div class="wrapper{% if not isSubsequent ?? false %} wrapper--content{% endif %}{% if customWrapperClass ?? false %} {{ customWrapperClass|raw }}{% endif %}" id="content">

    {% set navigation = (block('navigation') ?? '')|trim %}
    {% set main = block('main') %}
    {% set secondary = (block('secondary') ?? '')|trim %}

    <div class="content-container-grid">

        {% if navigation|length %}

            {{ navigation|raw }}

        {% endif %}

        <div class="main-content-grid">

            {% include 'infobar-announcement.html.twig' %}

            {{ main|raw }}

        </div>

        {% if secondary|length %}
            <div class="secondary-column-grid">

                {{ secondary|raw }}

            </div>

        {% endif %}

    </div>

</div>
