<div class="wrapper blg-pad-top--small-to-medium">

    {% set listing = block('listing') %}

    <div class="grid">

        <div class="listing-column-container">

            <div class="listing-column-main grid__item one-whole x-large--eight-twelfths push--x-large--two-twelfths">

                {{ listing|raw }}

            </div>

        </div>

    </div>

</div>
