<div class="wrapper u-pad-top-lg">

    <div class="grid">

        {% set main = block('main')|trim %}

        {% if block('secondary') is defined %}
            {% set secondary = block('secondary')|trim %}
        {% else %}
            {% set secondary = '' %}
        {% endif %}

        <div class="listing-column-container">

            <div class="grid__item one-whole x-large--eight-twelfths listing-column-main">

                {{ main|raw }}

            </div>

            {% if secondary != '' %}

                <div class="grid__item one-whole x-large--four-twelfths listing-column-secondary">

                    {{ secondary|raw }}

                </div>

            {% endif %}

        </div>

    </div>

</div>
