<div class="wrapper u-pad-top-lg">

    <div class="grid">

        {% if block('main') is defined and block('main')|trim != '' %}
            {% set main = block('main') %}
        {% endif %}

        {% if block('secondary') is defined and block('secondary')|trim != '' %}
            {% set secondary = block('secondary') %}
        {% endif %}

        <div class="listing-column-container">

            <div class="grid__item one-whole x-large--eight-twelfths listing-column-main">

                {% if main is defined %}

                    {{ main|raw }}

                {% endif %}

            </div>

            <div class="grid__item one-whole x-large--four-twelfths listing-column-secondary">

                {% if secondary is defined %}

                    {{ secondary|raw }}

                {% endif %}

            </div>

        </div>

    </div>

</div>
