<div class="wrapper wrapper--listing">

    <div class="grid">

        {% set main = block('main') %}
        {% set secondary = (block('secondary') ?? '')|trim %}

        {% if viewSelector is defined and viewSelector and secondary|length %}

            {{ render_pattern(viewSelector) }}

        {% endif %}

        <div class="grid__item one-whole x-large--eight-twelfths grid-column" id="primaryListing">

            {% include 'infobars-announcement.html.twig' %}

            {{ main|raw }}

        </div>

        {% if secondary|length %}

            <div class="grid__item one-whole x-large--four-twelfths grid-secondary-column" id="secondaryListing">

                {{ secondary|raw }}

            </div>

        {% endif %}

    </div>

</div>
